.zippy{
    border:1px solid #ccc;
}
.zippy-heading{
    background-color:whitesmoke;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.zippy-body{
    padding: 20px;
}

.expanded{
    display: none;
}

.glyphicon{
    float: right;
}